 TWEETS index.html.erb

<ul>
<% @tweets.each do |x| %>
	<li> <%= x.tweet %></li>
	<h6>posted by <%= @users.find(x.user_id).name %> -- <%= time_ago_in_words(x.updated_at) %> ago.
	<% if x.user_id == session[:id] %>
		<%= link_to "edit", edit_tweet_path(x) %>
		<% end %>

	</h6>

		<h2>add a comment</h2>

		<%= form_for ([x, x.comments.build]) do |y| %>
		<%= y.text_field :comment %>
		<%=y.submit %>
		<% end %>

		<% x.comments.each do |z| %>
		<%= z.comment %>
		<% end %>

<% end %>
</ul>