<!DOCTYPE html>
<html>
<head>
  <title>Tweeter</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>
	<div id="body">
		<div id="menu">
			<ul>
				<li><% if !session[:id].nil? %>
					Signed in as <%= User.find(session[:id]).name %>
					<% end %>
				</li>
				<li><% if session[:id].nil? %>
					<%=link_to "Sign up", new_user_path %>
					<% end %>
				</li>
				<li><% if session[:id].nil? %>
					<%=link_to "Sign in", signin_path %>
					<% end %>
				</li>
				<li><% if !session[:id].nil? %>
					<%=link_to "Sign out", signout_path %>
					<% end %>
				</li>
				<li><% if !session[:id].nil? %>
					<%=link_to "New post", new_tweet_path %>
					<% end %>
				</li>

			</ul>
		</div>


				
		<div id="wrapper">
			<%= yield %>
		</div>
	</div>

</body>
</html>
